/* Website styles */
* {
  font-size: 100%;
  /* border:1px solid white; */
  margin: 0%;
  line-height: 1;
  box-sizing: border-box;
}

header {
  margin: 10px;
  /* padding: 15px; */
}

.banner1 {
  /* top and bottom banner */
  height: 200px;
  background-image: url(images/banner1.jpg);
  background-size: cover;
}

.banner2 {
  /* top */
  height: 200px;
  background-image: url(images/banner2.jpg);
  background-size: cover;
}

.banner3 {
  /* top */
  height: 300px;
  width: 800px;
  background-image: url(images/banner3.png);
  background-size: cover;
}

body {
  /* background-color:hotpink; */
  font-family: 'League Gothic', sans-serif;
  font-size: 22px;
  margin: 5%;
  /* border: 10px 20px solid purple; */
}

.index {
  background-image: url(images/gp.png);
   /* background-repeat: no-repeat; */
}

.art {
  background-image: url(images/pentagon.png);
}

.biz {
  background-image: url(images/artbg.png);
}

.container1 {
  /* text-align: */
  background-image: url(images/battle.jpg);
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;
}

.container2 {
  /* text-align:  */
  background-image: url(images/controller.webp);
  background-repeat: no-repeat;
  width: 750px;
  height: 400px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.container4 {
  background-image: url(images/zero.jpg);
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

section {
  margin: 15px 0;
  border: 5px dotted lightblue;
  padding: 0 auto;
}

/* title */
h1 {
  font-family: 'syne mono', monospace;
  text-align: center;
  margin: 25px;
  padding: 70px;
}

h2 {
  font-size: 36px;
  font-family: 'syne mono', monospace;
}

ul {
  font-size: 28px;
}

h3 {
  font-size: 24px;
  text-align: center;
}

h4 {
  text-height: 3;
}

h2, h3 {
  font-weight: 900;
  font-style: normal;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  line-height: 4;
  color: black;
  text-align: center;
}

ul, ol {
  margin: 15px 0;
  padding: 30px;
}

footer p {
  font-family: 'syne mono', monospace;
  color: violet;
  font-size: 36px;
  font-weight: 600;
  margin: 5px;
  text-decoration: underline;
}

a {
  color: violet;
  text-decoration: none;
  font-size: 22px;
  font-family: 'syne mono', monospace;
  padding: 25px;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

a:active {
  color: pink;
}

.title {
  font-size: 72px;
  text-decoration: underline lightpink;
  color: lightblue;
}

div {
  margin: 0 auto;
}

img {
  /* width: 300px;
  height: 200px; */
  max-width: 0 auto;
  max-height: 0 auto;
}

.top {
  border-bottom: 5px dotted lightblue;
  font-family: 'syne mono', monospace;
}

#top {
  color: violet;
  text-decoration: none;
}

.bottom {
  text-align: right;
  font-family: 'syne mono', monospace;
  border-top: 5px dotted lightblue;
  margin: 5px;
}

#bottom {
  color: black;
  text-decoration: none;
}

#bottom2 {
  color: white;
  text-decoration: none;
}
