/* Website styles */
* {
  font-size: 100%;
  /* border:1px solid white; */
  margin: 0%;
  line-height: 1;
  box-sizing: border-box;
}

header {
  text-align: center;
  /* border-top: 15px solid lightblue; */
  /* margin: 30px; */
  /* padding: 15px; */
}

body {
  /* background-color: hotpink; */
  font-family: 'League Gothic', sans-serif;
  font-size: 22px;
  margin: 5%;
  border: 10px 20px solid purple;
}

.index {
  background-image: url(images/gp.png);

}

.art {
  background-image: url(images/artbg.png);
}

section {
  margin: 15px 0;
  border: 2px dashed black;
  padding: 30px;
}

h1 {
  font-family: 'syne mono', monospace;
  /* color: blue; */
  /* font-size: 64px; */
  text-align: center;
  background-color: pink;
  margin: 30px;
  padding: 15px;
}

h2 {
  font-size: 36px;
  font-family: 'syne mono', monospace;
}

ul {
  font-size: 28px;
}

h3 {
  font-size: 24px;
  text-align: center;
}

h4 {
  text-height: 3;
}

h2, h3 {
  font-weight: 900;
  font-style: normal;
  margin-bottom: 20px;
  /* border: 2px solid white; */
}

p {
  font-size: 22px;
  line-height: 4;
  color: black;
  text-align: center;
}

ul, ol {
  margin: 15px 0;
  padding: 30px;
}

footer p {
  font-family: 'syne mono', monospace;
  color: violet;
  font-size: 36px;
  font-weight: 600;
  border-bottom: 15px solid violet;
}

a {
  color: blue;
  text-decoration: none;
  font-size: 24px;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: green;
}

.title {
  /* width: 100%; */
  font-size: 72px;
  text-decoration: underline purple;
  color: blue;
}

.footer p {
  text-decoration: underline;

}

.container h1 {
  max-width: 1000px;
  margin: 0 auto;
  /* background-image: url(file/images/moon.jpg); */
}

.bottom {
  text-align: right;
}

div {
  margin: 0 auto;
}

img {
  width: 300px;
  height: 200px;
  max-width: 250px
}

#top {
  /* background-color: purple; */
  color: white;
  font-family: 'syne mono', monospace;
  text-decoration:none;
}

#bottom {
  color: black;
  font-family: 'syne mono', monospace;
  text-decoration:none;
  /* text-align: right; */
}
