/* Website styles */
Body {
  background-color: pink;
  font-family: 'League Gothic', sans-serif;
}

h1 {
  font-family: 'syne mono', monospace;
  color: blue;
  font-size:64px;
  text-align:center;
}

h2 {
  font-size:36px;
  font-family: 'syne mono', monospace;
}

ul {
  font-size:28px;
}

h3 {
  font-size:24px;
  text-align:center;
}

h4 {
  text-height:3;
}

p {
  line-height:4;
  color:black;
  font-size:24px;
  text-align:center;
}

footer p {
  font-family: 'syne mono', monospace;
  color:purple;
  font-size:36px;
  font-weight:600;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color:green;
}
